.pageWrapper {
  margin: 15px;
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1 1 0px;
}

.columnLeftTitle {
  text-align: center;
  font-size: 20px;
}

.columnRightTitle {
  text-align: center;
  font-size: 20px;
}
